*write abstract here*

*write introduction here*

In [14]:
import pandas as pd
from random import randrange
import numpy as np
import seaborn as sns
from matplotlib import pyplot
import matplotlib.pyplot as plt
import statsmodels.api as sm
from statsmodels.tsa.seasonal import seasonal_decompose
from pandas.plotting import autocorrelation_plot
import os
import datetime
import itertools
import warnings

*explain the dataset here*

In [15]:
crimes = pd.read_csv('massachusettsdata.csv', header=0, index_col=0, squeeze=True)
warnings.filterwarnings("ignore")
crimes
#crimes.dtypes
#cols = ['Population', 'Index', 'Violent', 'Property', 'Murder', 'Forcible Rape', 'Robbery', 'Aggravated Assault', 'Burglary', 'Larceny - Theft', 'Vehicle Theft']
#for n in cols: 
#    crimes[n].astype(str).astype(int)

,Population,Index,Violent,Property,Murder,Forcible Rape,Robbery,Aggravated Assault,Burglary,Larceny - Theft,Vehicle Theft
Year,,,,,,,,,,,
1960,"5,148,578","62,767","2,512","60,255",74,249,"1,052","1,137","15,918","33,469","10,868"
1961,"5,234,000","76,560","2,777","73,783",77,291,"1,066","1,343","19,683","39,885","14,215"
1962,"5,161,000","84,107","3,207","80,900",95,256,"1,331","1,525","21,181","44,051","15,668"
1963,"5,218,000","90,056","3,454","86,602",101,236,"1,409","1,708","23,121","44,382","19,099"
1964,"5,338,000","106,099","4,559","101,540",105,320,"1,636","2,498","28,278","49,129","24,133"
1965,"5,348,000","113,455","5,270","108,185",129,290,"2,139","2,712","29,655","49,997","28,533"
1966,"5,383,000","122,477","6,201","116,276",128,344,"2,474","3,255","33,326","53,244","29,706"
1967,"5,421,000","134,557","6,919","127,638",154,411,"2,818","3,536","36,621","54,837","36,180"
1968,"5,437,000","166,802","8,916","157,886",188,518,"4,039","4,171","47,210","66,823","43,853"
1969,"5,467,000","190,173","10,272","179,901",191,592,"4,955","4,534","56,450","76,501","46,950"
1970,"5,689,170","213,134","11,542","201,592",197,684,"5,658","5,003","64,523","87,114","49,955"
1971,"5,758,000","250,332","15,317","235,015",220,715,"8,069","6,313","77,145","101,161","56,709"
1972,"5,787,000","237,677","17,086","220,591",215,784,"8,840","7,247","71,894","92,425","56,272"
1973,"5,818,000","263,031","20,475","242,556",256,949,"10,586","8,684","77,395","100,605","64,556"
1974,"5,800,000","312,211","22,545","289,666",256,907,"12,317","9,065","89,891","120,572","79,203"
1975,"5,828,000","354,216","25,793","328,423",242,"1,121","13,229","11,201","99,802","137,058","91,563"
1976,"5,809,000","338,136","23,190","314,946",194,"1,028","10,466","11,502","96,554","142,135","76,257"
1977,"5,782,000","312,751","24,593","288,158",178,"1,203","9,822","13,390","88,594","133,642","65,922"
1978,"5,774,000","308,933","26,673","282,260",216,"1,307","9,947","15,203","87,482","131,519","63,259"
1979,"5,769,000","341,406","30,650","310,756",212,"1,428","11,724","17,286","92,570","152,135","66,051"
1980,"5,728,288","348,231","34,444","313,787",232,"1,562","13,492","19,158","99,697","153,849","60,241"
1981,"5,770,000","336,701","36,273","300,428",210,"1,580","15,633","18,850","95,080","147,691","57,657"
1982,"5,781,000","318,171","33,031","285,140",219,"1,464","12,359","18,989","82,212","146,933","55,995"
1983,"5,767,000","288,971","33,264","255,707",203,"1,495","12,023","19,543","72,291","133,883","49,533"
1984,"5,798,000","266,037","30,362","235,675",211,"1,627","10,122","18,402","63,756","123,214","48,705"
1985,"5,822,000","276,999","31,334","245,665",202,"1,734","10,974","18,424","65,231","130,088","50,346"
1986,"5,832,000","275,465","32,476","242,989",208,"1,731","11,239","19,298","62,455","127,668","52,866"
1987,"5,855,000","277,165","33,060","244,105",173,"1,868","10,379","20,640","62,056","127,939","54,110"
1988,"5,871,000","293,015","36,376","256,639",208,"1,876","10,352","23,940","62,307","141,933","52,399"
1989,"5,913,000","303,692","39,912","263,780",254,"1,881","11,980","25,797","63,004","146,925","53,851"
1990,"6,016,425","318,742","44,300","274,442",243,"2,030","13,062","28,965","66,942","151,933","55,567"
1991,"5,996,000","319,128","44,138","274,990",249,"1,926","11,669","30,294","69,977","149,930","55,083"
1992,"5,998,000","300,071","46,727","253,344",214,"2,166","11,059","33,288","64,318","141,610","47,416"
1993,"6,012,000","294,224","48,393","245,831",233,"2,006","10,563","35,591","60,220","136,548","49,063"
1994,"6,041,000","268,281","42,749","225,532",214,"1,825","10,160","30,550","53,222","129,962","42,348"
1995,"6,074,000","263,710","41,739","221,971",217,"1,759","9,137","30,626","49,669","135,586","36,716"
1996,"6,092,000","233,758","39,122","194,636",157,"1,767","7,778","29,420","42,896","119,562","32,178"
1997,"6,118,000","224,848","39,411","185,437",119,"1,647","6,676","30,969","40,491","115,494","29,452"
1998,"6,147,000","211,203","38,192","173,011",124,"1,687","5,938","30,443","37,333","109,275","26,403"
1999,"6,175,169","201,460","34,023","167,437",122,"1,663","5,931","26,307","32,964","108,845","25,628"
2000,"6,349,097","192,131","30,230","161,901",125,"1,696","5,815","22,594","30,600","105,425","25,876"
2001,"6,401,164","197,664","30,585","167,079",143,"1,856","6,476","22,110","32,430","106,821","27,828"
2002,"6,421,800","198,890","31,137","167,753",173,"1,777","7,169","22,018","33,243","107,922","26,588"
2003,"6,420,357","194,920","30,377","164,543",140,"1,848","8,011","20,378","34,963","104,069","25,511"
2004,"6,407,382","187,639","29,489","158,150",171,"1,794","7,484","20,040","34,497","101,605","22,048"
2005,"6,433,367","180,362","29,644","151,727",178,"1,751","7,837","19,878","34,728","98,079","18,920"
2006,"6,437,193","181,688","28,775","153,913",186,"1,742","8,047","18,800","35,181","100,771","17,961"
2007,"6,449,755","181,058","27,832","154,246",184,"1,634","7,006","19,008","35,662","103,592","14,992"
2008,"6,543,595","185,971","29,888","156,083",167,"1,744","7,071","20,906","36,260","107,048","12,775"
2009,"6,593,587","183,681","30,503","153,178",173,"1,734","7,467","21,129","34,515","106,799","11,864"
2010,"6,555,466","185,233","30,737","154,496",214,"1,784","6,897","21,842","37,903","105,124","11,469"
2011,"6,607,003","177,061","28,232","148,829",184,"1,654","6,768","19,626","36,403","101,644","10,782"
2012,"6,645,303","170,372","27,047","143,325",121,"1,650","6,555","18,721","34,635","99,453","9,237"
2013,"6,708,874","164,538","27,264","137,274",138,"1,722","6,705","18,118","30,716","97,437","9,121"
2014,"6,755,124","152,170","26,689","125,481",133,"1,625","6,077","18,277","24,951","92,226","8,304"
2015,"6,784,240","141,000","26,453","114,547",131,"1,538","5,266","18,974","21,826","84,676","8,045"
2016,"6,811,779","132,016","25,677","106,339",134,"1,592","5,365","18,050","19,193","79,088","8,058"
2017,"6,863,246","122,295","24,318","97,977",172,"2,199","4,874","17,073","16,916","73,573","7,488"
2018,"6,902,149","110,533","23,337","87,196",136,"2,410","4,143","16,648","13,862","66,728","6,606"

*exploratory data analysis here*

# What are the most common crimes?

## Barplot of all the individual crimes:

In [16]:
#write code for barplot of all the individual crimes
#(sum the columns for murder, forcible rape, robbery, aggravated assault, burglary, larceny-theft, 
# vehicle theft, and plot a bar of the columns as x axis vs the total sum on y axis)

*explain the above plot here*

## Barplot of violent vs property crimes:

In [17]:
#write code for barplot of violent vs property crimes
#sum the columns for violent and property and plot a bar of the violent and property as x axis vs total sum on y axis

*explain the above plot here*

## Word Cloud Visualization:

In [18]:
#write code for world cloud of all the individual crimes

*explain the above visualization)

# What years had the most crimes?

## Barplot of total crimes over the years:

In [19]:
#write code for a bar plot of index for every year. year on the x axis and column called "index" on the y axis

*explain the above visualization*

## How did violent and property crimes change throughout the years?

In [20]:
#write code for a bar plot of violent and property crimes for every year. Each year should have two bars, one for violence and one for property.

*explain the above visualization*

# Do different crimes have different patterns throughout the years?

In [21]:
#draw a line plot of all the columns for murder, forcible rape, robbery, aggravated assault, burglary, larceny-theft, 
# vehicle theft over the years. One line for each column.

*explain the above visualization*

# Heatmap of crimes vs years:

In [22]:
#draw a heatmap of crimes vs years

*explain the above visualization*

In [23]:
##add in anthonys time series code below

*insert conclusion here*